<!--
  Generated template for the BillPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Bill</ion-title>

    <ion-buttons end>
        <button id="cart-btn" ion-button icon-only >
            <ion-icon name="basket"></ion-icon>
            <ion-badge id="cart-badge" color="light" >{{this.count}}</ion-badge>
        </button>
      </ion-buttons>

    
         
     
    
  </ion-navbar>
  
  <ion-card>
      <ion-grid>
          <ion-row>
            <ion-col col-6>
              Name: {{userDetails.customerName}}
            </ion-col>
            <ion-col col-6>
                Bill No: {{userDetails.billNo}}
              </ion-col>
          </ion-row>
        </ion-grid>
  </ion-card>
</ion-header>

<ion-content >
  
    <datalist id="product">
        <option *ngFor="let item of currentProducts" [value]="item.itemName">
      </datalist>
  <ion-card *ngFor='let item of currentItems' (keyup)="calcAmount(item.serialNo)">
    
    <ion-card-content>
      <ion-grid>
        <ion-row>
            <ion-col col-10>
                <ion-item>
                   Item: {{item.serialNo}}
                </ion-item>
              </ion-col>
              
              <ion-col col-1 padding>
                <button ion-button icon-only (click)="deleteItem(item)" color="danger">
                  <ion-icon name="trash" class="Blacked"></ion-icon>
                </button>
              </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-label floating>Item Name</ion-label>
              <ion-input type="text" [(ngModel)]='item.itemName' list="product" (focusout)="onSelected(item)"></ion-input>
              <datalist id="product">
                <option *ngFor="let item of currentProducts" [value]="item.itemName">
              </datalist>

            </ion-item>
          </ion-col>

          <ion-col col-12>
            <ion-item>
              <ion-label floating>Quantity</ion-label>
              <ion-input type="number" [(ngModel)]='item.quantity'></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-label floating>Price</ion-label>
              <ion-input type="number" [(ngModel)]='item.price'></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-12>
            <ion-item>
              <ion-label floating>Discount</ion-label>
              <ion-input type="number" [(ngModel)]='item.discount'></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12>
            
            <ion-item>
              Amount:
              {{item.amount}}
            </ion-item>
          </ion-col>
        </ion-row>
      
      </ion-grid>
    </ion-card-content>
  </ion-card>
  
  <ion-fab right bottom>
      <button ion-fab (click)="alert()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-fab>  
</ion-content>


<ion-footer>
  <ion-card>
    <ion-grid>
        <ion-row>
          <ion-col col-12>
              
          </ion-col><button ion-button full icon-end color="primary" (click)="addProduct()">Add Product</button>
        </ion-row>
    </ion-grid>
  </ion-card>
    <ion-card >
        <ion-grid>
          
          <ion-row>
            <ion-col col-6>
                Net Total:{{netTotal}}
            </ion-col>
            <ion-col col-6>
                GST( {{gstPercent}}%):{{gst}}
            </ion-col>
          </ion-row>
        </ion-grid>
    
      </ion-card>
    <ion-toolbar>
      <ion-row>
        <ion-title col-7>TOTAL:{{grandTotal}}</ion-title> <ion-title col-5>{{this.count}}(Items)</ion-title>
      </ion-row>
    </ion-toolbar>
  </ion-footer>

